<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>Task:</h1>
  <ul>
    <li><%= @task.name %></li>
    <li><%= @task.date %></li>
    <li><%= @task.status %></li>
  </ul>
  <p><a class="button" href="/tasks">Go To Index</a></p>
  <p><a class="button" href="/tasks/<%= @task.id %>/edit">Edit This Task</a></p>
  <form action="/tasks/<%= @task.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="button" type="submit" value="Delete This Task">
  </form><br><br><br>
</body>
</html>
